.container{
    position: relative;
    margin: 0 auto;
    border:solid 5px #000;
    display: grid;
    width: 600px;
    height:500px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3)
}
.campoformulario{
    width: 450px;
    height: 40px;
    margin: 0 auto;
    border-radius: 16px;
    padding: 2px 16px;

}

#cabecalho{
    color: #29335C;
    font-family: Arial, sans-serif;
    text-align: center; 
    border: solid 2px #29335c2c;
    border-radius: 16px;
    margin: 0;  
}
#textoApoio{
    text-align: center;
    font-family: Arial, sans-serif;
    color: #556AC0;

}
#botao{
    width: 300px;
    height: 40px;
    margin: 0 auto;
    border-radius: 16px;
    background-color: #0094C6;
    color: #fff;
}

#botao:hover{
    background-color: #007A9B;
    cursor: pointer;
}
.idaevolta{
    font-family: Arial, sans-serif;
    margin: 0 auto;
}
img{ 
    width: 100vw;
    height:100vh;
    position: absolute;
}

.campoformulario:focus{
    outline: none;
    border: 2px solid #0094C6;
}